<div class="max-w-2xl mx-auto px-4 md:py-16 py-6">
  <nav class="font-heading text-sm mb-6 text-zinc-700 dark:text-zinc-200">
    <ul class="flex items-center space-x-3">
      <li class="after:content-['/'] after:relative after:text-zinc-300 after:left-1 dark:after:text-zinc-500">
        <%= link_to "Agreements", agreements_path, class: "text-primary-600 hover:text-primary-700 dark:text-primary-500 dark:hover:text-primary-600" %>
      </li>
      <li>
        <p>New Agreement</p>
      </li>
    </ul>
  </nav>

  <h1 class="mb-6 text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">New Agreement</h1>

  <% if @agreement.errors.any? %>
    <div class="bg-red-100 border border-red-200 text-red-900 px-4 py-3 rounded relative" role="alert">
      <strong class="font-semibold">There were some errors with your submission</strong>
      <ul class="mt-3 list-disc list-inside text-sm">
        <% @agreement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @agreement, local: true) do |form| %>
    <!-- Property -->
    <div class="form-group">
      <%= form.label :property_id, "Property", class: "form-label form-label-required" %>
      <%= form.collection_select :property_id, current_user.properties, :id, :display_name, { prompt: "Choose a property" }, class: "form-select w-full" %>
    </div>

    <!-- Tenant -->
    <div class="form-group">
      <%= form.label :tenant_id, "Tenant", class: "form-label form-label-required" %>
      <%= form.collection_select :tenant_id, @tenants, :id, :full_name, { prompt: "Choose a tenant" }, class: "form-select w-full" %>
    </div>

    <h3 class="mb-6 pt-10 text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Agreement Details</h3>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 form-group">
      <!-- Length -->
      <div>
        <%= form.label :length, "Length (in months)", class: "form-label form-label-required" %>
        <%= form.number_field :length, class: "form-input w-full" %>
      </div>
      <!-- Monthly Rent Amount -->
      <div>
        <%= form.label :monthly_rent_amount, "Monthly Rent Amount", class: "form-label form-label-required" %>
        <%= form.number_field :monthly_rent_amount, step: 0.01, class: "form-input w-full" %>
      </div>
    </div>

    <!-- Start Date / End Date -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 form-group">
      <div>
        <%= form.label :start_date, "Start Date", class: "form-label form-label-required" %>
        <%= form.date_field :start_date, class: "form-input w-full" %>
      </div>
      <div>
        <%= form.label :end_date, "End Date", class: "form-label form-label-required" %>
        <%= form.date_field :end_date, class: "form-input w-full" %>
      </div>
    </div>

    <!-- Notice Period -->
    <div class="form-group">
      <%= form.label :notice_period, "Notice Period (in days)", class: "form-label form-label-required" %>
      <%= form.number_field :notice_period, class: "form-input w-full" %>
    </div>

    <!-- Agreement Number -->
    <div class="form-group">
      <%= form.label :agreement_number, "Agreement Number", class: "form-label form-label-required" %>
      <%= form.text_field :agreement_number, class: "form-input w-full" %>
    </div>

    <!-- Hidden Fields for IDs -->
    <%= form.hidden_field :landlord_id, value: current_user.id %>

    <div class="grid grid-cols-2 gap-6 pt-10">
      <%= link_to "Go Back", agreements_path, class: "btn btn-white text-center" %>
      <%= form.submit "Save Agreement", class: "btn btn-primary w-full" %>
    </div>
  <% end %>
</div>